<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.web>

    <httpRuntime maxRequestLength="10240000" executionTimeout="3600" />
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <sessionState mode="InProc" timeout="10" />
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
  </system.web>
  <connectionStrings>

    <!--live-->
    <!--<add name="ErpConnectionString" connectionString="server=172.20.0.101\MSSQLSERVER19;database=Jis_Main_User_Db;uid=sa;password=sa@#1234#@"></add>-->

    <!--local-->
    <add name="ErpConnectionString" connectionString="server=HASH2;database=Jis_Main_User_Db;uid=sa;password=sa@#1234"></add>    

      
     
    <!--Local-->
    <add name="ErpConnectionString_Gnit" connectionString="server=HASH2;database=Gnit_Web_Stf_Db;uid=sa;password=sa@#1234"></add>

    <add name="ReportConn_Gnit" connectionString="sa,ssa@#1234,172.20.0.101\MSSQLSERVER19,Gnit_Web_Stf_Db"></add>
    
    <!--Live-->
    <!--<add name="ErpConnectionString_Gnit" connectionString="server=172.20.0.101\MSSQLSERVER19;database=Gnit_Web_Stf_Db;uid=sa;password=sa@#1234#@">
    </add>

    <add name="ReportConn_Gnit" connectionString="sa,sa@hash,animesh-dell,Gnit_Web_Stf_Db">
    </add>-->


    <!--<add name="ErpConnectionString_jisu" connectionString="server=172.20.0.101\MSSQLSERVER19;database=Jis_University_Db;uid=sa;password=sa@#1234#@">
    </add>

    <add name="ReportConn_jisu" connectionString="sa,sa@#1234#@,172.20.0.101\MSSQLSERVER19,Jis_University_Db">
    </add>--> 


    <!--<add name="ErpConnectionString_nit" connectionString="server=172.20.0.101\MSSQLSERVER19;database=NIT_WEB_ERP_DB;uid=sa;password=sa@#1234#@">
    </add>

    <add name="ReportConn_nit" connectionString="sa,sa@#1234#@,172.20.0.101\MSSQLSERVER19,NIT_WEB_ERP_DB">
    </add>-->

    <!--<add name="ErpConnectionString_jis" connectionString="server=172.20.0.100;database=KALYANI_WEB_ERP_DB;uid=sa;password=sa@hash">
    </add>

    <add name="ReportConn_jis" connectionString="sa,sa@hash,172.20.0.100,KALYANI_WEB_ERP_DB">
    </add>-->


    <!--<add name="ErpConnectionString_surermath" connectionString="server=animesh-dell;database=SURERMATH_WEB_ERP_DB;uid=sa;password=sa@hash">
    </add>

    <add name="ReportConn_surermath" connectionString="sa,sa@hash,animesh-dell,SURERMATH_WEB_ERP_DB">
    </add>-->

    <!--<add name="ErpConnectionString_surermath" connectionString="server=172.20.0.101\MSSQLSERVER19;database=SURERMATH_WEB_ERP_DB;uid=sa;password=sa@#1234#@">
    </add>

    <add name="ReportConn_surermath" connectionString="sa,sa@#1234#@,172.20.0.101\MSSQLSERVER19,SURERMATH_WEB_ERP_DB">
    </add>-->



    <!--<add name="ErpConnectionString_Abacus" connectionString="server=172.20.0.100;database=Abacus_Web_Erp_Db;uid=sa;password=sa@hash">
    </add>

    <add name="ReportConn_Abacus" connectionString="sa,sa@hash,172.20.0.100,Abacus_Web_Erp_Db">
    </add>-->


    <!--<add name="ErpConnectionString_Gkcem" connectionString="server=172.20.0.101\MSSQLSERVER19;database=Gkcem_Web_Erp_Db;uid=sa;password=sa@#1234#@">
    </add>

    <add name="ReportConn_Gkcem" connectionString="sa,sa@#1234#@,172.20.0.101\MSSQLSERVER19,Gkcem_Web_Erp_Db">
    </add>-->



    <!--<add name="ErpConnectionString_Nps" connectionString="server=172.20.0.100;database=Lbs_Web_Erp_Db;uid=sa;password=sa@hash">
    </add>

    <add name="ReportConn_Nps" connectionString="sa,sa@hash,172.20.0.100,Lbs_Web_Erp_Db">
    </add>-->

    <!-- Asansole -->
    <!--<add name="ErpConnectionString_Asansole" connectionString="server=172.20.0.101\MSSQLSERVER19;database=Asansole_Web_Erp_Db;uid=sa;password=sa@#1234#@">
    </add>
    <add name="ReportConn_Asansole" connectionString="sa,sa@#1234#@,172.20.0.101\MSSQLSERVER19,Asansole_Web_Erp_Db">
    </add>

    <add name="ErpConnectionString_Jharkhand" connectionString="server=172.20.0.101\MSSQLSERVER19;database=JHARKHAND_WEB_ERP_DB;uid=sa;password=sa@#1234#@">
    </add>

    <add name="ReportConn_Jharkhand" connectionString="sa,sa@#1234#@,172.20.0.101\MSSQLSERVER19,JHARKHAND_WEB_ERP_DB">
    </add>-->


  </connectionStrings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>   
    
    <httpErrors errorMode="Custom" existingResponse="PassThrough">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="~/Forms/frmCloseApplication.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>

    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="999999999"/>
        </webServices>
      </scripting>
    </system.web.extensions>


</configuration>